body{
  background: #4ea7f9;
}

img{
  height: 100%;
  width: 100%;
}

.main{
  width: 100%;
}

.slider{
  width: 80%;
  margin: 0 auto;

  .slider-dots{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    
    .dot{
      width: 5px;
      height: 5px;
      border-radius: 50%;
      box-sizing: border-box;
      border: 3px solid #fff;
      background: #888;
      margin: 0 2px;
      padding: 2px;
      opacity: 0.7;
      cursor: auto;

      &.active{
        opacity: 1;
        border: 3px solid #000;
      }
    }
  }

  .slider-container{
    overflow: hidden;
    position: relative;
    margin: 10% auto 0 auto;
    height: 16vw;


    .slider-next,
    .slider-prev{
      position: absolute;
      z-index: 120;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      background: #111;
      padding: 0;
      width: 40px;
      height: 50px;
      color: #fff;
      opacity: 0.5;

      &:hover{
        opacity: 1;
      }
    }

    .slider-prev{left: 0.26vw}

    .slider-next{right: 0.16vw}

    .slider-list{
      overflow: hidden;
      list-style: none;
      position: relative;

      //width: calc(434px * 10);
      //width: 100%;
      width: 5500px;
      height: 100%;
      margin: 0 auto;
      padding: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      transition: all 0s linear;

      .slide{

        background: #0000;
        height: 100%;
        float: left;
        margin: 0 5px;
        padding: 0;
        width: 25.85vw;
        //width: 434px;
        //width: calc((100%/3) - 10px);
        box-sizing: border-box;
        //border: 1px solid red;
      }
    }
  }
}
