@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

  .slider{
    .slider-container{
      height: 24vw;

      .slider-prev{left: 0.55vw}

      .slider-list{
        .slide{width: 38.5vw}
      }
    }
  }
}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){
  .slider{
    .slider-container{
      height: 44vw;

      .slider-prev{left: 0}

      .slider-next{right: 0}

      .slider-list{
        .slide{
          margin: 0;
          width: 84.42vw;
        }
      }
    }
  }
}
@media screen and (max-width: 666px){
  .slider{
    .slider-container{
      .slider-list{
        .slide{width: 86vw}
      }
    }
  }
}
@media screen and (max-width: 479px){
  .slider{
    .slider-container{
      .slider-list{
        .slide{width: 90vw}
      }
    }
  }
}
@media screen and (max-width: 320px){

}
