//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html

    <!-- MAIN -->
    <div class="main">
      <div class="slider">
          <div class="slider-container">
            <button class="slider-prev">⮜</button>
            <button class="slider-next">⮞</button>
            <ul class="slider-list">
              <li class="slide">
                <img src="images/53629633_p0.jpg" alt="">
              </li>
              <li class="slide" >
                <img src="images/46794030_p0.jpg" alt="">
              </li>
              <li class="slide">
                <img src="images/61370435_p0.jpg" alt="">
              </li>
              <li class="slide">
                <img src="images/53629583_p0.jpg" alt="">
              </li>
              <li class="slide">
                <img src="images/66886470_p0.jpg" alt="">
              </li>
              <li class="slide">
                <img src="images/Konachan.com%20-%20263937%20sample.jpg" alt="">
              </li>
            </ul>
          </div>
        <div class="slider-dots"></div>
      </div>
    </div>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>

//= partials/scripts.html

</body>
</html>
